---
import '~/styles/global.css';
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>nullkey</title>
  </head>
  <body>
    <main class="font-mono text-body text-text bg-bg">theme works</main>
  </body>
</html>
